{% extends 'base.html' %}

{% block alert %}
{% if alert_msg %}
<div class="alert alert-{{ alert_msg.type }}" role="alert">
  {{ alert_msg.msg }}
</div>
{% endif %}
{% endblock %}

{% block title %}
User Infomation
{% endblock %}

{% block lead %}
사용자의 정보를 입력하여 카드종류를 확인할 수 있는 유저id를 만들 수 있습니다.
{% endblock %}

{% block main_body %}
<form method="POST" action="/user">
  <label for="username">이름</label>
  <input name="username" style="margin-bottom:10px" class="form-control" type="text" placeholder="Enter fullname">
  
  <label for="age">나이(만)</label>
  <input name="age" style="margin-bottom:10px" class="form-control" type="number" placeholder="Enter age">
  
  <label for="gender">성별</label>
  <select id="gender" name="gender">
    <option value=0>Male</option>
    <option value=1>Female</option>
  </select>
  
  <label for="dependent">부양가족수</label>
  <select id="dependent" name="dependent">
    <option value=0>0</option>
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
    <option value=5>5(이상)</option>
  </select>

  <label for="loginId">학력(졸업)</label>
  <select id="country" name="country">
    <option value=0>College</option>
    <option value=1>Doctorate</option>
    <option value=2>Graduate</option>
    <option value=3>High School</option>
    <option value=4>Post-Graduate</option>
    <option value=5>Uneducated</option>
    <option value=6>Unknown</option>

  </select>

  <label for="marige">결혼여부</label>
  <select id="marige" name="marige">
    <option value=0>Divorced</option>
    <option value=1>Married</option>
    <option value=2>Single</option>
    <option value=3>Unknown</option>
  </select>

  <label for="income">연봉</label> 
  <select id="income" name="income">
    <option value=0>$120K +</option>
    <option value=1>$40K - $60K</option>
    <option value=2>$60K - $80K</option>
    <option value=3>$80K - $120K</option>
    <option value=4>Less than $40K</option>
    <option value=5>Unknown</option>
  </select>
  <input type="submit" class="btn btn-primary" value="Input" />
</form>

{% if user_list %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
    </tr>
  </thead>
  <tbody>
    {% for user in user_list %}
    <tr>
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.username }}</td>
      <td>
        <a class="btn btn-secondary", href='/api/user/{{ user.id }}'>
          Delete
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
